name: CI for fx analytics

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies (if any)
        run: pip install -r requirements.txt

      - name: Build Python package
        run: python setup.py bdist_wheel sdist

      - name: Run tests
        run: pytest

